.my-label {
    color: #000; /* set the color to black */
  }

.radio-border {
    border-color: #000000;
}
.custom-fill-mode {
  background: #F9F9F9;
  border-color: #e6e6e6;
}
input[type=radio] {
  width: 20px;
  height: 20px;
}