<div class="card card-flush mt-6 mt-xl-9">
  <!--begin::Card header-->
  <div class="card-header mt-5">
      <!--begin::Card title-->
      <div class="card-title flex-column">
          <h3 class="fw-bold mb-1">Employee</h3>
      </div>
      <!--begin::Card toolbar-->
      <div class="card-toolbar my-1">
          <!--begin::Search-->
          <div class="d-flex align-items-center position-relative my-1">
              <i class="ki-duotone ki-magnifier fs-3 position-absolute ms-3"><span class="path1"></span><span
                      class="path2"></span></i> <input type="text" id="kt_filter_search"
                  class="form-control form-control-solid form-select-sm w-150px ps-9" placeholder="Search ">
          </div>
          <!--end::Search-->
      </div>
      <!--begin::Card toolbar-->
  </div>
  <!--end::Card header-->
<div class="row">
  <div class="col-lg-12">
      <div class="">
          <div class="table-responsive">
              <table class="table project-list-table table-nowrap align-middle table-borderless">
                  <thead>
                      <tr>
                          
                          <th scope="col">Employee</th>
                          <th scope="col">Employee_ID</th>
                          <th scope="col">Phone</th>
                          <th scope="col">Email</th>
                          <th scope="col">Year's Experience</th>
                          <th scope="col" style="width: 200px;">Action</th>
                      </tr>
                  </thead>
                  <tbody>
                      <tr>
                          <td><img src="https://bootdey.com/img/Content/avatar/avatar1.png" alt="" class="avatar-sm rounded-circle me-0" /><a href="#" class="text-body">Simon Ryles</a></td>
                          <td><span class="badge badge-soft-success mb-0">Full Stack Developer</span></td>
                          <td>SimonRyles@minible.com</td>
                          <td>125</td>
                          <td>
                              <ul class="list-inline mb-0">
                                  <li class="list-inline-item">
                                      <a href="javascript:void(0);" data-bs-toggle="tooltip" data-bs-placement="top" title="Edit" class="px-2 text-primary"><i class="bx bx-pencil font-size-18"></i></a>
                                  </li>
                                  <li class="list-inline-item">
                                      <a href="javascript:void(0);" data-bs-toggle="tooltip" data-bs-placement="top" title="Delete" class="px-2 text-danger"><i class="bx bx-trash-alt font-size-18"></i></a>
                                  </li>
                              </ul>
                          </td>
                      </tr>